nav {
  height: 8.8rem;
  z-index: 99999;
  width: 100rem;
  position: fixed;
  justify-content: flex-start !important;
  padding: 0 3rem;
  right: 0;
  top: 1rem;
  border-radius: 1.2rem;
  background: var(--bgSoft);
}
